.about-container {
    height: 100vh;
    overflow-y: auto;
    padding: 20px;
    box-sizing: border-box;
}

.about-content {
    max-width: 1000px;
    margin: 0 auto;
}

.grid-container {
    margin: 50px auto; 
    width: 800px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    gap: 30px;
}

.grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.skills{
    margin: 0 auto;

}

.otherDiv,
.interpersonalDiv,
.professionalDiv,
.uiDiv,
.webDiv,
.androidDiv {
    background-color: #00ABF0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 100%;
    margin: 0 auto;
}


/* Medium screens: 2 columns */
@media (min-width: 768px) {
    .grid-container {
        grid-template-columns: 1fr;
        width: 300px;
    }
}

/* Large screens: 3 columns */
@media (min-width: 1024px) {
    .grid-container {
        grid-template-columns: 1fr 1fr 1fr;
        width: 300px;
    }
}

/* Extra large screens: 3 columns, 2 rows for full width */
@media (min-width: 1920px) {
    .grid-container {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto auto;
        width: max-content;
        width: 300px;
    }

    .achievements,
    .primary-interest {
        grid-column: span 3;
    }
}