.about-container {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

.about-content {
    max-width: 1000px;
    margin: 0 auto;
    animation: slideInFromLeft 1.5s ease-in-out;
    max-height: 650px;
    overflow-y: auto;
    scrollbar-width: none;
}

.paragraph {
    color: rgb(127, 127, 127);
}

.background {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
    width: 100%;
    max-width: 1200px;
    margin: 30px auto;
}

.educationDiv {
    width: auto;
    height: max-content;
    color: rgb(127, 127, 127);
}

.educationDiv h2 {
    color: rgb(127, 127, 127);
}

.achievementDiv {
    color: rgb(127, 127, 127);
}

.achievementDiv h2 {
    color: rgb(127, 127, 127);
}

.achievements {
    display: flex;
    width: max-content;
    animation: scroll 10s linear infinite;
}

.achievementCard {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    max-width: 300px;
    border-radius: 12px;
    padding: 15px;
    margin: 0 10px;
    text-align: left;
    color: rgb(127, 127, 127);
    box-shadow: 0 4px 6px rgba(255, 253, 253, 0.1);
}

.achievementTitle {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 8px;
}

.achievementDetails {
    font-size: 0.9em;
    line-height: 1.4;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

.about-content.visible {
    opacity: 1;
    transform: translateY(0);
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 50px;
    gap: 40px;
}

.grid-item {
    animation: slideInFromLeft 1.5s ease-in-out;
    opacity: 0;
    animation-fill-mode: forwards;
}

.grid-item:nth-child(1) {
    animation-delay: 0.3s;
}

.grid-item:nth-child(2) {
    animation-delay: 0.6s;
}

.grid-item:nth-child(3) {
    animation-delay: 0.9s;
}

.grid-item:nth-child(4) {
    animation-delay: 1.2s;
}

.grid-item:nth-child(5) {
    animation-delay: 1.5s;
}

.grid-item:nth-child(6) {
    animation-delay: 1.8s;
}

.skills {
    list-style-position: inside;
    padding-left: 0;
    margin-left: 0;
}

.skills li {
    margin: 0;
    padding-left: 1.5rem;
    text-align: left;
}

.otherDiv,
.interpersonalDiv,
.professionalDiv,
.uiDiv,
.webDiv,
.androidDiv {
    background-color: #00ABF0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.2s, box-shadow 0.2s;
}

.backgroundcard {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    transform: rotate(0deg);
    transition: transform 0.3s ease;
    background-color: #00ABF0;
    opacity: 0.5;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.grid-item:hover .backgroundcard {
    transform: rotate(-10deg);
}

h2 {
    color: #fff;
    font-size: 24px;
    margin-bottom: 15px;
}

svg {
    margin-bottom: 15px;
}

@media (min-width: 1441px) {
    .grid-container {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto auto;
    }

    .about-content {
        max-width: 1150px;
        max-height: 750px;
    }
}

@media (max-width: 982px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .achievements,
    .primary-interest {
        grid-column: span 2;
        background-color: #161b2f;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        color: #fff;
        text-align: center;
    }

    .about-content {
        max-width: 750px;
        max-height: 750px;
    }

    .achievements h3,
    .primary-interest h3 {
        margin-bottom: 10px;
    }
}

@media (min-width: 1025px) and (max-width: 1540px) {
    .grid-container {
        grid-template-columns: repeat(3, 1fr);
    }

    .about-content {
        max-width: 1100px;
        max-height: 650px;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .grid-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 768px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .about-content {
        padding: 35px;
        max-width: 600px;
        max-height: 650px;
    }
}