@media (max-width: 768px) {
    .navbar {
        display: none !important;
    }
}

.accessibility-controller {
    width: 0.5cm;
    height: 0.5cm;
    background: linear-gradient(135deg, #f0f0f0, #e0e0e0);
    border-radius: 50%;

    box-shadow:
        0 0 8px rgba(0, 0, 0, 0.2),
        inset -2px -2px 5px rgba(255, 255, 255, 0.8),
        inset 2px 2px 5px rgba(0, 0, 0, 0.2);
    position: fixed;
    bottom: 1.5rem;
    right: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    z-index: 1000;
}

.accessibility-controller:hover {
    transform: scale(1.1);
    box-shadow:
        0 0 12px rgba(0, 0, 0, 0.3),
        inset -2px -2px 8px rgba(255, 255, 255, 0.9),
        inset 2px 2px 8px rgba(0, 0, 0, 0.3);
}